<style>
    .layui-table-cell {
        display: table-cell;
        vertical-align: middle;
    }
</style>

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main site-content">

        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="detail">接口详情</li>
                <li lay-id="debug">在线调试</li>
            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show" id="view_information"></div>

                <div class="layui-tab-item" id="view_debug" lay-filter="debug">

                </div>
            </div>
        </div>

        <div id="view_log"></div>

        <div id="view_prompt">
            <fieldset class="layui-elem-field">
                <legend>温馨提示</legend>
                <div class="layui-field-box">
                    <blockquote class="layui-elem-quote">此文档是由系统自动生成，如发现错误或疑问请告知开发人员及时修改</blockquote>
                </div>
            </fieldset>
        </div>

    </div>
</div>
<script type="text/html" id="information">


    <fieldset class="layui-elem-field layui-field-title">
    <legend>标题</legend>
    </fieldset>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">{{ method(d.ApiMethod) }}</label>
            <div class="layui-input-block">
                <input type="text" name="ApiUrl"
                    class="layui-input layext-text-tool" value="{{ d.ApiUrl }}">
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title">
    <legend>接口描述：</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">新闻列表</blockquote>

    <fieldset class="layui-elem-field layui-field-title">
    <legend>请求参数</legend>
    </fieldset>
    <table  id="request" lay-filter="request"></table>

    <fieldset class="layui-elem-field layui-field-title">
    <legend>响应参数</legend>
    </fieldset>
    <table  id="response" lay-filter="response"></table>

</script>

<script type="text/html" id="debug">

    <div class="layui-form">
        <fieldset class="layui-elem-field layui-field-title">
        <legend>请求头部</legend>
        </fieldset>
        <div class="layui-form-item">
            <input type="text" name="ApiUrl" placeholder="请输入接口地址"
                class="layui-input layext-text-tool" value="{{ d.ApiUrl ? d.ApiUrl : ''}}">
        </div>

        <fieldset class="layui-elem-field layui-field-title">
        <legend>请求头部</legend>
        </fieldset>
        <div class="layui-form-item">
            <select name="ApiMethod" lay-verify="required">
            {{# layui.each(['GET','POST','PUT','DELETE'],function(index,item){ }}
            <option value="{{ item }}" {{# if(item.trim()== d.ApiMethod.trim()){ }}selected{{# } }}>{{ item }}</option>
            {{# }); }}
            </select>
        </div>



        <fieldset class="layui-elem-field layui-field-title">
        <legend>请求头部</legend>
        </fieldset>
        <div class="layui-form-item">
            <table class="" id="header" lay-filter="header"></table>
        </div>


        <fieldset class="layui-elem-field layui-field-title">
        <legend>请求参数</legend>
        </fieldset>
        <div class="layui-form-item">
            <table class="layui-hide" id="param" lay-filter="param"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="debug">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="log">
    <fieldset class="layui-elem-field">
        <legend>更新日志</legend>
        <div class="layui-field-box">
            {{# if(d.ApiLog){ }}
            <ul class="layui-timeline">
                {{# layui.each(d.ApiLog,function(k,v){ }}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title"> {{ v.title }}</h3>
                        <p>
                            {{ v.desc }}
                        </p>
                    </div>
                </li>
                {{# }); }}
            </ul>
            {{#  } else { }}
            暂无
            {{#  } }}
        </div>
    </fieldset>
</script>
<script type="text/html" id="btnBar">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolBar">
  <div class="layui-btn-container">
    <div class="layui-btn layui-btn-sm" lay-event="add">添加一行</div>
    <div class="layui-btn layui-btn-sm" lay-event="del">添加文件上传</div>
  </div>
</script>
<script>
    layui.use(['form', 'table', 'element', 'element', 'laytpl', 'textool'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            element = layui.element,
            textool = layui.textool,
            laytpl = layui.laytpl;

        var href = location.hash.replace(/^#\//, '');

        $.ajax({
            url: href,
            type: 'POST',
            dataType: 'json',
            success: function (res) {
                //接口信息
                render(information.innerHTML, 'view_information', res.data);

                render(debug.innerHTML, 'view_debug', res.data);


                //更新日志信息
                render(log.innerHTML, 'view_log', res.data);
                //请求参数
                var request = res.data.ApiParam;
                //响应参数
                var response = res.data.ApiReturn;


                table.render({
                    elem: '#request',
                    data: request,
                    skin: 'line',  //行边框风格
                    cols: [[ //表头
                        { field: 'name', title: '名称', sort: true },
                        {
                            field: 'type', title: '类型', templet: function (d) {
                                return paramType(d.type);
                            }
                        },
                        { field: 'default', title: '默认值' },
                        { field: 'desc', title: '说明' },
                    ]],

                });


                table.render({
                    elem: '#response',
                    data: response,
                    skin: 'line',  //行边框风格
                    cols: [[ //表头
                        { field: 'name', title: '名称', sort: true },
                        {
                            field: 'type', title: '类型', templet: function (d) {
                                return paramType(d.type);
                            }
                        },
                        { field: 'default', title: '默认值' },
                        { field: 'desc', title: '说明' },
                    ]], done: function (res, curr, count) {
                        res.data.forEach(function (item, index) {
                            if (item.type === "array") {
                                $(".layui-table-box tbody tr[data-index='" + index + "']").css("background-color", "#FFB800");
                            }
                        })
                    }
                });

                table.render({
                    elem: '#param',
                    data: request,
                    // width: 1000,
                    toolbar: '#toolBar',
                    defaultToolbar: [{
                        title: '提示',
                        layEvent: 'LAYTABLE_TIPS',
                        icon: 'layui-icon-tips'
                    }],
                    cols: [[ //表头
                        {
                            field: 'name', title: '参数', sort: true, templet: function (d) {
                                return inputValue(d.name);
                            }
                        },
                        {
                            field: 'name', title: '参数值', templet: function (d) {
                                return inputName(d);
                            }
                        },
                        {
                            field: 'type', title: '类型', templet: function (d) {
                                return paramType(d.type);
                            }
                        },
                        { field: 'desc', title: '操作', width: 80, toolbar: '#btnBar' },
                    ]]
                });


                //监听工具条
                table.on('tool(param)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            layer.close(index);
                        });
                    }
                });

                //头工具栏事件
                table.on('toolbar(param)', function (obj) {
                    console.log(obj);
                    switch (obj.event) {
                        case 'add':
                            createCell(obj.config.id, obj.config.index);
                            break;
                    };
                });

                textool.init({
                    // 根据元素 id 值单独渲染，为空默认根据 class='layext-text-tool' 批量渲染
                    eleId: null,
                    // 批量设置输入框最大长度，可结合 eleId 单独设置最大长度
                    maxlength: -1,
                    // 初始化回调，无参
                    initEnd: $.noop,
                    // 显示回调，参数为当前输入框和工具条面板的 jQuery 对象
                    showEnd: $.noop,
                    // 隐藏回调，参数为当前输入框和工具条面板的 jQuery 对象
                    hideEnd: $.noop,
                    // 初始化展开，默认展开，否则收起
                    initShow: true,
                    // 启用指定工具模块，默认依次为字数统计、复制内容、重置内容、清空内容，按数组顺序显示
                    tools: ['count', 'copy', 'reset', 'clear'],
                    // 工具按钮提示类型，默认为 'title' 属性，可选 'laytips'，使用 layer 组件的吸附提示， 其他值不显示提示
                    tipType: 'laytips',
                    // 吸附提示背景颜色
                    tipColor: '#01AAED',
                    // 对齐方向，默认右对齐，可选左对齐 'left'
                    align: 'left',
                    // 工具条字体颜色
                    color: '#666666',
                    // 工具条背景颜色
                    bgColor: '#FFFFFF',
                    // 工具条边框颜色
                    borderColor: '#E6E6E6',
                    // 工具条附加样式类名
                    className: '',
                    // z-index
                    zIndex: 19891014
                });

            },
            error: function (xhr, textstatus, thrown) {
                return layer.msg('Status:' + xhr.status + '，' + xhr.statusText + '，请稍后再试！');
            }
        });




        //提交
        form.on('submit(debug)', function (data) {
            // //传值的个数
            var length = $('#param').next().find('table>tbody').children().length;
            var ajaxData = formatParams(data.field, length);


            $.ajax({
                url: data.field.ApiUrl,
                type: data.field.ApiMethod,
                data: ajaxData,
                dataType: 'json',
                success: function (result) {
                    html =
                        "<pre class='layui-code' lay-skin='notepad' lay-encode='true' style='margin: 0'>" +
                        writeHtml(result) + "</pre>";
                    var w = '';
                    var h = '';
                    if (w == null || w == '') {
                        w = ($(window).width() * 0.75);
                    };
                    if (h == null || h == '') {
                        h = ($(window).height() - 100);
                    };
                    layer.open({
                        type: 1,
                        area: [w + 'px', h + 'px'],
                        fix: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        shade: 0.4,
                        title: 'title',
                        content: html,
                    });
                }
            })
            return false;
        });



        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(response)', function (obj) {
            //点击单元格复制文本 复制名称列
            var field = 'name';
            var clipboard = new ClipboardJS('td[data-field="' + field + '"]', {
                text: function (trigger) {
                    //设置要复制的内容
                    //js trigger.innerText
                    return $(trigger).text();
                }
            });

            clipboard.on('success', function (e) {
                layer.msg((e.action == 'copy' ? '复制' : '剪切') + '成功');
            });

            clipboard.on('error', function (e) {
                layer.msg((e.action == 'copy' ? '复制' : '剪切') + '失败');
            });
        });



        function render(tpl, _view, data) {
            var view = document.getElementById(_view);
            laytpl(tpl).render(data, function (html) {
                view.innerHTML = html;
                form.render();
            })
        }
        window.method = function (param) {
            var method = {
                'GET': 'class="layui-badge layui-bg-green"',
                'POST': 'class="layui-badge layui-bg-blue"',
                'PUT': 'class="layui-badge layui-bg-orange"',
                'DELETE': 'class="layui-badge"',
            };

            if (!method[param]) {
                return '-';
            }
            return '<span ' + method[param] + '>' + param + '</span>';
        }


        // 格式化对象输出
        window.writeHtml = function (obj) {
            var objStr = JSON.stringify(obj, null, 4);
            var html = objStr.replace(/\n/g, '<br>').replace(/\s/g, '&nbsp');
            return html
        }

        window.paramType = function (param) {
            var method = {
                'int': 'class="layui-badge layui-bg-green"',
                'string': 'class="layui-badge layui-bg-blue"',
                'number': 'class="layui-badge layui-bg-orange"',
                'array': 'class="layui-badge"',
                'file': 'class="layui-badge"',
            };
            if (!method[param]) {
                return '-';
            }
            return '<span ' + method[param] + '>' + param + '</span>';
        }
        window.inputName = function (param) {
            var method = {
                'int': '<input type="text" name="params[value][]"    value="' + param.default + '" lay-verify="required" class="layui-input" >',
                'string': '<input type="text" name="params[value][]" value="' + param.default + '" lay-verify="required" class="layui-input" >',
                'number': '<input type="text" name="params[value][]" value="' + param.default + '" lay-verify="required" class="layui-input" >',
                'array': '<input type="text" name="params[value][]"  value="' + param.default + '" lay-verify="required" class="layui-input" >',
                'file': '<input type="file" name="params[value][]"   value="' + param.default + '" lay-verify="required" class="layui-input upload_file" >',
            };
            if (!method[param.type]) {
                return '<input type="text" name="params[value][]" value="' + param.default + '" lay-verify="required" class="layui-input" >';
            }
            return method[param.type];
        }

        window.inputValue = function (param) {
            return '<input type="text" name="params[name][]"  value="' + param + '" lay-verify="required" class="layui-input layext-text-tool" >';
        }
        //操作
        window.operationBtn = function (param) {
            return '<button type="button" class="layui-btn layui-btn-xs layui-btn-danger delete">删除</button>';
        }

        //table 添加新行
        window.createCell = function (id, index) {

            var tbody = $('[lay-id="' + id + '"]').find('table>tbody');
            var trLength = tbody.children().length;
            var i = trLength - 1;
            if (i < 0) {
                i = 0;
            }
            console.log(tbody);
            console.log(trLength);

            var htmlstr = '<tr data-index="' + trLength + '" class="">' +
                '<td data-field="name" data-key="' + trLength + '-0-0" data-content="" class="">' +
                '<div class="layui-table-cell laytable-cell-' + trLength + '-0-0"><input type="text" name="params[name][]" value=""' +
                'lay-verify="required" class="layui-input"></div>' +
                '</td>' +
                '<td data-field="name" data-key="' + trLength + '-0-1" data-content="" class="">' +
                '<div class="layui-table-cell laytable-cell-' + trLength + '-0-1"><input type="text" name="params[value][]"' +
                'lay-verify="required" class="layui-input"></div>' +
                '</td>' +
                '<td data-field="type" data-key="' + trLength + '-0-2" data-content="array" class="">' +
                '<div class="layui-table-cell laytable-cell-' + trLength + '-0-2"><span class="layui-badge layui-bg-blue">string</span></div>' +
                '</td>' +
                '<td data-field="desc" data-key="' + trLength + '-0-3" data-off="true" class="">' +
                '<div class="layui-table-cell laytable-cell-' + trLength + '-0-3"> <a class="layui-btn layui-btn-danger layui-btn-xs"' +
                'lay-event="del">删除</a> </div>' +
                '</td>' +
                '</tr>';
            tbody.append(htmlstr);
            form.render();
        }

        //格式化参数
        window.formatParams = function (param, i) {
            var result = new Object();;
            for (let index = 0; index < i; index++) {
                var key = 'params[name][' + index + ']';
                if (param.hasOwnProperty(key)) {
                    var k = param['params[name][' + index + ']'];
                    var v = param['params[value][' + index + ']'];
                    result[k] = v;
                }
            }
            return result;
        }



    });
</script>